periodic-tasks.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Supporting services for the execution of periodic tasks

Parameters:
  Environment:
    Type: String
    Description: The environment into which the stack is being deployed
  ProjectName:
    Description: The name of the project
    Type: String
  SubFunction:
    Description: The sub-fuction that each resource relates to
    Type: String
    Default: 'pt'
  AvlConsumerApiBaseUrl:
    Type: String
  CavlConsumerUrl:
    Type: String
  GtfsApiBaseUrl:
    Type: String
  RdsDbHostAddr:
    Type: String
    Default: ''
  RdsDbPort:
    Type: Number
  RdsDbName:
    Type: String
    Description: Database name for local development
    Default: 'postgres'
  RdsDbUsername:
    Type: String
    Description: User name for local development
    Default: 'bodds_rw'
  BoilerplateLambdaLayerArn:
    Type: String

Conditions:
  IsNotLocal: !Not [!Equals [!Ref Environment, 'local']]
  IsStandalone: !Equals [!Ref Environment, 'standalone']
  IsUsingBodsInfra:
    !Not [
      !Or [
        !Equals [!Ref Environment, 'local'],
        !Equals [!Ref Environment, 'standalone'],
      ],
    ]

Globals:
  Function:
    Architectures:
      - x86_64
    Runtime: python3.11
    Timeout: 60
    MemorySize: 1024
    ReservedConcurrentExecutions: 3
    KmsKeyArn: !If
      - IsUsingBodsInfra
      - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
      - !If
        - IsStandalone
        - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
        - !Ref AWS::NoValue
    VpcConfig: !If
      - IsUsingBodsInfra
      - SubnetIds:
          - !Sub '{{resolve:ssm:/bodds/${Environment}/private-subnet-0}}'
          - !Sub '{{resolve:ssm:/bodds/${Environment}/private-subnet-1}}'
          - !Sub '{{resolve:ssm:/bodds/${Environment}/private-subnet-2}}'
        SecurityGroupIds:
          - !GetAtt CommonLambdaSecurityGroup.GroupId
      - !If
        - IsStandalone
        - SubnetIds:
            - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-subnet-1-id'
            - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-subnet-2-id'
          SecurityGroupIds:
            - !GetAtt CommonLambdaSecurityGroup.GroupId
        - !Ref AWS::NoValue

Resources:
  ###################################
  #### PT ITERATOR STATE MACHINE ####
  ###################################
  IteratorStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub '${ProjectName}-${Environment}-${SubFunction}-iterator-sm'
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref IteratorLambda
      Events:
        Scheduler:
          Type: Schedule
          Properties:
            Name: !Sub '${ProjectName}-${Environment}-${SubFunction}-iterator-sm-scheduler'
            Schedule: rate(1 minute)
            Enabled: True
            Input: !Sub |
              {
                "functions": [ 
                  "${GenerateGtfsRtLambda}",
                  "${GenerateSiriVmLambda}",
                  "${GenerateSiriVmTflLambda}"
                ]
              }
      Definition:
        StartAt: ConfigureCount
        States:
          ConfigureCount:
            Next: MapState
            Result:
              intervals: [0, 10, 20, 30, 40, 50]
            ResultPath: $.config
            Type: Pass
          MapState:
            Type: Map
            ItemsPath: $.functions
            Iterator:
              StartAt: InvokeLambda
              States:
                InvokeLambda:
                  Type: Task
                  Resource: !GetAtt IteratorLambda.Arn
                  Parameters:
                    functionName.$: $.functionName
                    intervals.$: $.intervals
                  Next: Done
                Done:
                  End: true
                  Type: Pass
            Parameters:
              functionName.$: $$.Map.Item.Value
              intervals.$: $.config.intervals
            End: true

  #########################
  #### ITERATOR LAMBDA ####
  #########################
  IteratorLambda:
    Type: AWS::Serverless::Function
    # checkov:skip=CKV_AWS_117:Ensure that AWS Lambda function is configured inside a VPC
    Properties:
      FunctionName: !Sub '${ProjectName}-${Environment}-${SubFunction}-iterator-lambda'
      CodeUri: ./src/periodic_tasks
      Handler: iterator.lambda_handler
      MemorySize: 128
      Policies:
        - 'AWSLambdaBasicExecutionRole'
        - LambdaInvokePolicy:
            FunctionName: !Ref GenerateGtfsRtLambda
        - LambdaInvokePolicy:
            FunctionName: !Ref GenerateSiriVmLambda
        - LambdaInvokePolicy:
            FunctionName: !Ref GenerateSiriVmTflLambda
      LoggingConfig:
        LogGroup: !Ref IteratorLambdaLogGroup

  IteratorLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${ProjectName}-${Environment}-${SubFunction}-iterator-lambda'
      KmsKeyId: !If
        - IsUsingBodsInfra
        - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
        - !If
          - IsStandalone
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
          - !Ref AWS::NoValue
      RetentionInDays: 30

  ################################
  #### GENERATE GTFSRT LAMBDA ####
  ################################
  GenerateGtfsRtLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${Environment}-${SubFunction}-generate-gtfsrt-lambda'
      CodeUri: ./src/periodic_tasks
      Handler: create_gtfsrt_zip.lambda_handler
      Layers:
        - !Ref BoilerplateLambdaLayerArn
      Policies:
        - 'AWSLambdaBasicExecutionRole'
        - 'AWSLambdaVPCAccessExecutionRole'
        - S3WritePolicy:
            BucketName: !If
              - IsUsingBodsInfra
              - !Sub '{{resolve:ssm:/bodds/${Environment}/s3/sirivm/name}}'
              - !If
                - IsStandalone
                - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-s3-bucket-name'
                - !Ref AWS::NoValue
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - kms:GenerateDataKey
              Resource: !If
                - IsUsingBodsInfra
                - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
                - !If
                  - IsStandalone
                  - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
                  - '*'
        - !If
          - IsUsingBodsInfra
          - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-rw-user-access-policy-arn}}'
          - !If
            - IsStandalone
            - !Ref AWS::NoValue
            - !If
              - IsNotLocal
              - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-rw-user-access-policy-arn}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
              - 'arn:aws:iam::aws:policy/AmazonRDSFullAccess'
        - !If
          - IsUsingBodsInfra
          - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-ro-user-access-policy-arn}}'
          - !If
            - IsStandalone
            - !Ref AWS::NoValue
            - !If
              - IsNotLocal
              - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-ro-user-access-policy-arn}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
              - 'arn:aws:iam::aws:policy/AmazonRDSReadOnlyAccess'
      Environment:
        Variables:
          AWS_SIRIVM_STORAGE_BUCKET_NAME: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/s3/sirivm/name}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-s3-bucket-name'
              - !Ref AWS::NoValue
          CAVL_CONSUMER_URL: !Ref CavlConsumerUrl
          GTFS_API_BASE_URL: !Ref GtfsApiBaseUrl
          # GTFS_API_ACTIVE: 'True'
          HTTPS_PROXY: !If
            - IsNotLocal
            - !Sub 'http://squid.bodds.${Environment}:3128'
            - !Ref AWS::NoValue
          PROJECT_ENV: !Ref Environment
          PROJECT_NAME: !Ref ProjectName
          POSTGRES_HOST: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-endpoint}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-proxy-endpoint'
              - !If
                - IsNotLocal
                - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-endpoint}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
                - !Ref RdsDbHostAddr
          POSTGRES_PORT: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-port}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-port'
              - !Ref RdsDbPort
          POSTGRES_DB: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-db-name}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-db-name'
              - !Ref RdsDbName
          POSTGRES_USER: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/pg-rw-user}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-app-username'
              - !Ref RdsDbUsername
      LoggingConfig:
        LogGroup: !Ref GenerateGtfsRtLambdaLogGroup

  GenerateGtfsRtLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${ProjectName}-${Environment}-${SubFunction}-generate-gtfsrt-lambda'
      KmsKeyId: !If
        - IsUsingBodsInfra
        - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
        - !If
          - IsStandalone
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
          - !Ref AWS::NoValue
      RetentionInDays: 30

  ################################
  #### GENERATE SIRIVM LAMBDA ####
  ################################
  GenerateSiriVmLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${Environment}-${SubFunction}-generate-sirivm-lambda'
      CodeUri: ./src/periodic_tasks
      Handler: create_sirivm_zip.lambda_handler
      Layers:
        - !Ref BoilerplateLambdaLayerArn
      Policies:
        - 'AWSLambdaBasicExecutionRole'
        - 'AWSLambdaVPCAccessExecutionRole'
        - S3WritePolicy:
            BucketName: !If
              - IsUsingBodsInfra
              - !Sub '{{resolve:ssm:/bodds/${Environment}/s3/sirivm/name}}'
              - !If
                - IsStandalone
                - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-s3-bucket-name'
                - !Ref AWS::NoValue
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - kms:GenerateDataKey
              Resource: !If
                - IsUsingBodsInfra
                - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
                - !If
                  - IsStandalone
                  - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
                  - '*'
        - !If
          - IsUsingBodsInfra
          - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-rw-user-access-policy-arn}}'
          - !If
            - IsStandalone
            - !Ref AWS::NoValue
            - !If
              - IsNotLocal
              - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-rw-user-access-policy-arn}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
              - 'arn:aws:iam::aws:policy/AmazonRDSFullAccess'
        - !If
          - IsUsingBodsInfra
          - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-ro-user-access-policy-arn}}'
          - !If
            - IsStandalone
            - !Ref AWS::NoValue
            - !If
              - IsNotLocal
              - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-ro-user-access-policy-arn}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
              - 'arn:aws:iam::aws:policy/AmazonRDSReadOnlyAccess'
        - !If
          - IsStandalone
          - !Ref RDSProxyAccessPolicy
          - !Ref AWS::NoValue
      Environment:
        Variables:
          AWS_SIRIVM_STORAGE_BUCKET_NAME: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/s3/sirivm/name}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-s3-bucket-name'
              - !Ref AWS::NoValue
          AVL_CONSUMER_API_BASE_URL: !Ref AvlConsumerApiBaseUrl
          HTTPS_PROXY: !If
            - IsNotLocal
            - !Sub 'http://squid.bodds.${Environment}:3128'
            - !Ref AWS::NoValue
          PROJECT_ENV: !Ref Environment
          PROJECT_NAME: !Ref ProjectName
          POSTGRES_HOST: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-endpoint}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-proxy-endpoint'
              - !If
                - IsNotLocal
                - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-endpoint}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
                - !Ref RdsDbHostAddr
          POSTGRES_PORT: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-port}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-port'
              - !Ref RdsDbPort
          POSTGRES_DB: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-db-name}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-db-name'
              - !Ref RdsDbName
          POSTGRES_USER: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/pg-rw-user}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-app-username'
              - !Ref RdsDbUsername
      LoggingConfig:
        LogGroup: !Ref GenerateSiriVmLambdaLogGroup

  GenerateSiriVmLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${ProjectName}-${Environment}-${SubFunction}-generate-sirivm-lambda'
      KmsKeyId: !If
        - IsUsingBodsInfra
        - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
        - !If
          - IsStandalone
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
          - !Ref AWS::NoValue
      RetentionInDays: 30

  ####################################
  #### GENERATE SIRIVM TFL LAMBDA ####
  ####################################
  GenerateSiriVmTflLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-${Environment}-${SubFunction}-generate-sirivm-tfl-lambda'
      CodeUri: ./src/periodic_tasks
      Handler: create_sirivm_tfl_zip.lambda_handler
      Layers:
        - !Ref BoilerplateLambdaLayerArn
      Policies:
        - 'AWSLambdaBasicExecutionRole'
        - 'AWSLambdaVPCAccessExecutionRole'
        - S3WritePolicy:
            BucketName: !If
              - IsUsingBodsInfra
              - !Sub '{{resolve:ssm:/bodds/${Environment}/s3/sirivm/name}}'
              - !If
                - IsStandalone
                - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-s3-bucket-name'
                - !Ref AWS::NoValue
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - kms:GenerateDataKey
              Resource: !If
                - IsUsingBodsInfra
                - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
                - !If
                  - IsStandalone
                  - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
                  - '*'
        - !If
          - IsUsingBodsInfra
          - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-rw-user-access-policy-arn}}'
          - !If
            - IsStandalone
            - !Ref AWS::NoValue
            - !If
              - IsNotLocal
              - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-rw-user-access-policy-arn}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
              - 'arn:aws:iam::aws:policy/AmazonRDSFullAccess'
        - !If
          - IsUsingBodsInfra
          - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-ro-user-access-policy-arn}}'
          - !If
            - IsStandalone
            - !Ref AWS::NoValue
            - !If
              - IsNotLocal
              - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-ro-user-access-policy-arn}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
              - 'arn:aws:iam::aws:policy/AmazonRDSReadOnlyAccess'
        - !If
          - IsStandalone
          - !Ref RDSProxyAccessPolicy
          - !Ref AWS::NoValue
      Environment:
        Variables:
          AWS_SIRIVM_STORAGE_BUCKET_NAME: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/s3/sirivm/name}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-s3-bucket-name'
              - !Ref AWS::NoValue
          AVL_CONSUMER_API_BASE_URL: !Ref AvlConsumerApiBaseUrl
          HTTPS_PROXY: !If
            - IsNotLocal
            - !Sub 'http://squid.bodds.${Environment}:3128'
            - !Ref AWS::NoValue
          PROJECT_ENV: !Ref Environment
          PROJECT_NAME: !Ref ProjectName
          POSTGRES_HOST: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-endpoint}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-proxy-endpoint'
              - !If
                - IsNotLocal
                - !Sub '{{resolve:ssm:/bodds/${Environment}/etl-rds-proxy-endpoint}}' ## UPDATE TO STANDARD POLICY ONCE ISOLATED TESTING COMPLETE
                - !Ref RdsDbHostAddr
          POSTGRES_PORT: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-port}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-port'
              - !Ref RdsDbPort
          POSTGRES_DB: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-db-name}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-db-name'
              - !Ref RdsDbName
          POSTGRES_USER: !If
            - IsUsingBodsInfra
            - !Sub '{{resolve:ssm:/bodds/${Environment}/pg-rw-user}}'
            - !If
              - IsStandalone
              - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-app-username'
              - !Ref RdsDbUsername
      LoggingConfig:
        LogGroup: !Ref GenerateSiriVmTflLambdaLogGroup

  GenerateSiriVmTflLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${ProjectName}-${Environment}-${SubFunction}-generate-sirivm-tfl-lambda'
      KmsKeyId: !If
        - IsUsingBodsInfra
        - !Sub '{{resolve:ssm:/bodds/${Environment}/kms-key-arn}}'
        - !If
          - IsStandalone
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-kms-key-arn'
          - !Ref AWS::NoValue
      RetentionInDays: 30

  #########################################
  #### GENERAL CONFIGURATION RESOURCES ####
  #########################################
  CommonLambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: IsNotLocal
    Properties:
      GroupDescription: !Sub 'Security group for ${ProjectName}-${Environment}-${SubFunction} PT related lambda functions'
      GroupName: !Sub '${ProjectName}-${Environment}-${SubFunction}-common-lambda'
      SecurityGroupEgress:
        - IpProtocol: '-1'
          Description: 'Allow outbound connectivity to any'
          CidrIp: '0.0.0.0/0'
      VpcId: !If
        - IsUsingBodsInfra
        - !Sub '{{resolve:ssm:/bodds/${Environment}/vpc-id}}'
        - !If
          - IsStandalone
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-vpc-id'
          - !Ref AWS::NoValue
      Tags:
        - Key: Name
          Value: !Sub '${ProjectName}-${Environment}-${SubFunction}-common-lambda'

  CommonLambdaSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Condition: IsNotLocal
    Properties:
      GroupId: !If
        - IsUsingBodsInfra
        - !Sub '{{resolve:ssm:/bodds/${Environment}/rds-proxy-sg-id}}'
        - !If
          - IsStandalone
          - Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-sg-id'
          - !Ref AWS::NoValue
      Description: !Sub 'Allow inbound connectivity from ${ProjectName}-${Environment}-${SubFunction}-common-lambda'
      IpProtocol: tcp
      FromPort: 5432
      ToPort: 5432
      SourceSecurityGroupId: !GetAtt CommonLambdaSecurityGroup.GroupId

  RDSProxyAccessPolicy:
    Type: AWS::IAM::ManagedPolicy
    Condition: IsStandalone
    Properties:
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action: rds-db:connect
            Resource:
              - !Sub
                - '${ProxyId}/${AppUsername}'
                - ProxyId:
                    Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-proxy-resource-id'
                  AppUsername:
                    Fn::ImportValue: !Sub '${ProjectName}-${Environment}-standalone-rds-app-username'
